##===========================================================##
 # SPDX-License-Identifier: GPL-3.0-or-later                 #
 # Copyright (c) 2025 Jimmy Källhagen                        #
 # Part of Nordix - https://github.com/jimmykallhagen/Nordix #
 # Nordix and Yggdrasil are trademarks of Jimmy Källhagen    #
##===========================================================##

[Unit]
Description=Nordix Graceful Shutdown Socket

[Socket]
ListenStream=/run/nordix-graceful-shutdown.sock
SocketMode=0666

[Install]
WantedBy=sockets.target
